// style para o cadastrar farmacia que também estava sendo uma bitch.

body {
    background-color: #f9f8f4;
}

input[type=text] {
    width: 700%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #FFDB51;
    border-radius: 4px;
}

input[type=date] {
    width: 700%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #FFDB51;
    border-radius: 4px;
}

input[type=file] {
    width: 700%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #FFDB51;
    border-radius: 4px;
}

input[type=password] {
    width: 700%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #FFDB51;
    border-radius: 4px;
}

select {
    width: 700%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #FFDB51;
    border-radius: 4px;
}

textarea {
    width: 700%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #FFDB51;
    border-radius: 4px;
}

input[type=submit] {
    position: relative;
    background-color: #FFE270;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 5px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

input[type=submit]:after {
    content: "";
    background: #ffe996;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 370%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

input[type=submit]:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.center {
    width: 60%;
/*    padding: 10px;*/
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}